<%- include('navbar'); -%>
<header>
    <form method="POST" action="/new">
        <input type="text" name="messageText" placeholder="Your Text...">
        <input type="text" name="messageUser" placeholder="Your UserName...">
        <button>Submit</button>
</header>