<%- include('navbar'); -%>
<header>
  <ul>
    <li>
      <span> <%= message[messageIndex].text %> </span>
        <span> <%= message[messageIndex].user %> </span>
        <span> <%= message[messageIndex].added %> </span>
      </a>
    </li>
</header>
