<head>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/message.css" />
</head>
<%- include('navbar'); -%>
<header class="header">
  <div class="messageContainer">
    <span class="messageContent"> <%= message[messageIndex].text %> </span>
    <span class="messageContent"> <%= message[messageIndex].user %> </span>
    <span class="messageContent"> <%= message[messageIndex].added %> </span>
  </div>
</header>
