<head>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/message.css" />
</head>
<%- include('navbar'); -%>
<header class="header">
  <div class="messageContainer">
    <span class="messageContent messageText">
      <%= message[messageIndex - 1].message %>
    </span>
    <span class="messageContent">
      <%= message[messageIndex - 1].author %>
    </span>
    <span class="messageContent"> <%= message[messageIndex - 1].date %> </span>
  </div>
</header>
