.newMessageContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 35rem;
  padding-top: 1rem;
}

.newMessageLink {
  display: block;
  background-color: green;
  text-decoration: none;
  color: white;
  min-height: 3rem;
  padding: 1rem;
  border-radius: 4rem;
  font-size: 1.6rem;
}

.allMessagesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
}

.messageContainer {
  min-height: 7rem;
  padding-left: 18rem;
  padding-bottom: 1rem;
  word-break: break-word;
}

.messageContent {
  display: block;
  color: black;
  font-size: 1.3rem;
  background-color: rgba(220, 220, 220, 0.7);
  border-radius: 0.1rem;
  min-height: 1rem;
  max-width: 30rem;
}

.messageText {
  font-size: 1.6rem;
}

.openMessageLink {
  display: block;
  background-color: blue;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  min-height: 2rem;
  max-width: 7rem;
}
