.header {
  padding-left: 4rem;
  padding-top: 1rem;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  padding-right: 1rem;
}

.messageContent {
  font-size: 1.3rem;
}

.messageText {
  font-size: 1.7rem;
}
